$c_green:       #000000;  /* Spree green    */
$c_blue:        #000000;
$c_orange:      #000000;
$link_text_color: #000000;
$button_border_color: rgba(100,100,100, .75);


body {
  
  border-top: none;
  padding: 0;

  #home-slider ul li .product-image {
    margin-top: 20px;
  }

  [data-hook="product_price"] {

    span.price {
      color: $link_text_color;
    }

    .add-to-cart{

      #add-to-cart-button {
        background-color: $link_text_color;
        border-color: $button_border_color;
      }
    
    }
  }
}
