%h3 Upload multiple photos

#dropzone.fade
  Drop files here

= form_for @photo do |f|

  .form-group
    = f.label :gallery
    = f.collection_select(:gallery_id, @galleries, :id, :title, { :prompt => true })

  .form-group
    = f.label :caption
    = f.text_field :caption, class: 'form-control'
 
  .form-group
    = f.label :image
    = f.file_field :image, required: true, multiple: true, name: 'photo[image]'

  .progress-wrapper
    %p
      Bitrate:
      %span.bitrate
    .progress
      .progress-bar{:role => "progressbar"}
        0%

%h1 List of photos
 
%ul.row#photos-list
  = render @photos
 
:javascript
  $(document).ready(function() {
    var multiple_photos_form = $('#new_photo');
    var wrapper = multiple_photos_form.find('.progress-wrapper');
    var progress_bar = wrapper.find('.progress-bar');
    var bitrate = wrapper.find('.bitrate');

    multiple_photos_form.fileupload({
      dataType: 'script',
      dropZone: $('#dropzone'), 
      add: function(e, data){
        types = /(\.|\/)(gif|jpe?g|png|bmp)$/i;
        file = data.files[0];
        if (types.test(file.type) || types.test(file.name)) {
          data.submit();
        } else {
          alert(file.name + " must be GIF, JPEG, BMP or PNG file");
        }
      }
    });
 
    multiple_photos_form.on('fileuploadsubmit', function (e, data) {
      data.formData = {
        'photo[caption]': $('#photo_caption').val(),
        'photo[gallery_id]': $('#photo_gallery_id').val()
      };
    });

    multiple_photos_form.on('fileuploadstart', function() {
      wrapper.show();
    });
     
    multiple_photos_form.on('fileuploaddone', function() {
      wrapper.hide();
      progress_bar.width(0); // Revert progress bar's width back to 0 for future uploads
    });
     
    multiple_photos_form.on('fileuploadprogressall', function (e, data) {
      bitrate.text((data.bitrate / 1024).toFixed(2) + 'Kb/s');
      var progress = parseInt(data.loaded / data.total * 100, 10);
      progress_bar.css('width', progress + '%').text(progress + '%');
    });

    $(document).bind('dragover', function (e) {
      var dropZone = $('#dropzone'),
              timeout = window.dropZoneTimeout;
      if (!timeout) {
        dropZone.addClass('in');
      } else {
        clearTimeout(timeout);
      }
      var found = false,
              node = e.target;
      do {
        if (node === dropZone[0]) {
          found = true;
          break;
        }
        node = node.parentNode;
      } while (node != null);
      if (found) {
        dropZone.addClass('hover');
      } else {
        dropZone.removeClass('hover');
      }
      window.dropZoneTimeout = setTimeout(function () {
        window.dropZoneTimeout = null;
        dropZone.removeClass('in hover');
      }, 100);
    });
  });
