= form_for @photo, remote: true do |f|
  .form-group
    = f.label :gallery
    = f.collection_select(:gallery_id, @galleries, :id, :title, { :prompt => true })

  .form-group
    = f.label :caption
    = f.text_field :caption, class: 'form-control'

  .form-group
    = f.label :image
    = f.file_field :image, required: true

  = f.submit 'Submit', class: 'btn btn-primary btn-lg'
