%h1 New Dish

= form_for :dish, url: dishes_path do |f|
  %p
    = f.label :title
    %br
    = f.text_field :title 
 
  %p
    = f.label :description
    %br
    = f.text_area :description
 
  %p
    = f.submit
