
#dropzone {
  padding: 6%;
  border: 2px dotted;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  background: rgba(149, 224, 145,0.3);
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.form-group {
  margin: 20px auto;

  label {
    display: block;
    font-weight: 900;
  }
}
