!!! 5
%html
  %head
    %title Sweetchick
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{:name => "viewport", :content => "width=device-width initial-scale=1"}
  %body
    %p.notice= notice
    %p.alert= alert


    = yield
